.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 90vh;
	flex-direction: column;
	background-color: #333;
}

.title {
	font-size: 2rem;
	margin-bottom: 1.3rem;
}

.form-container {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	border-radius: 8px;
}
/* Form title */
.form-title {
	text-align: left;
	font-size: 1.4rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

span.form-title {
	cursor: pointer;
	margin: 0 auto;
}

span.form-title:hover {
	color: #31cb00;
}

/* Form input fields */
.form-container input {
	width: 40rem;
	padding: 10px;
	margin-bottom: 10px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	margin-bottom: 1rem;
}

/* Form success message */
.form-success {
	color: #28a745;
	display: block;
	margin-bottom: 10px;
}

/* Form error message */
.form-error {
	color: #dc3545;
	display: block;
	margin-bottom: 10px;
}

/* Fancy register button */
.fancy-register-button {
	width: 70%;
	padding: 10px 20px;
	margin: 1rem auto;
	font-size: 15px;
	font-weight: bold;
	color: #f2f2f2;
	background-color: #119822;
	border: 2px solid #119822;
	border-radius: 4px;
	text-transform: uppercase;
	text-decoration: none;
	transition: all 0.3s;
	box-shadow: 0 5px 15px rgba(49, 203, 0, 0.3);
	cursor: pointer;
}

.fancy-register-button:hover {
	background-color: #31cb00;
	border-color: #31cb00;
	box-shadow: 0 8px 20px rgba(49, 203, 0, 0.3);
}

.fancy-register-button:active {
	transform: translateY(2px);
	box-shadow: 0 2px 5px rgba(49, 203, 0, 0.3);
}
